.product-cross {
  max-width: calc(900px + 2 * var(--dm-gutter));
  margin-inline: auto;
  padding-block: var(--dm-space-block);
  padding-inline: var(--dm-gutter);
}
.product-cross__title {
  margin: 0 0 37px;
  color: var(--dm-color-steel);
}
.product-cross__items {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
.product-cross__items > * {
  display: contents;
}
@media (width >= 576px) {
  .product-cross__items {
    grid-template-columns: repeat(2, minmax(0, 440px));
  }
}
