.triptych {
  width: 100vw;
  max-width: 100vw;
  margin-inline: calc(50% - 50vw);
  padding-block: 2.5rem;
  background: var(--dm-color-steel);
}
.triptych__items {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  max-width: 1130px;
  margin-inline: auto;
  padding-inline: 1rem;
}
.triptych__items > * {
  display: contents;
}
@media (width >= 768px) {
  .triptych__items {
    grid-template-columns: repeat(3, 1fr);
  }
}
