.news-list {
  --dm-news-list-gap: 30px;
  display: flex;
  flex-direction: column;
  gap: var(--dm-news-list-gap);
  padding-block: var(--dm-space-page);
  padding-inline: max(var(--dm-gutter), 50vw - 565px);
}
