.contact-intro {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--dm-space-element);
  padding-block: var(--dm-space-block);
  padding-inline: max(var(--dm-gutter), 50vw - 565px);
}
@media (width >= 992px) {
  .contact-intro {
    flex-wrap: nowrap;
    gap: 110px;
  }
}
.contact-intro__text {
  flex: 1 1 300px;
  color: var(--dm-color-grey-text);
  font-size: 0.875rem;
  line-height: 1.5rem;
  text-align: center;
}
@media (width >= 992px) {
  .contact-intro__text {
    font-size: var(--dm-body-size);
    line-height: var(--dm-body-line);
    text-align: left;
  }
}
.contact-intro__media {
  flex: 1 1 300px;
}
.contact-intro__media :is(img, picture) {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 16px;
}
