.image-text-100 {
  max-width: calc(900px + 2 * var(--dm-gutter));
  margin-inline: auto;
  padding-block: var(--dm-space-block);
  padding-inline: var(--dm-gutter);
}
.image-text-100__media {
  margin: 0;
}
.image-text-100__media :is(img, picture) {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 16px;
}
.image-text-100__caption {
  margin-top: 8px;
  color: var(--dm-color-grey-text);
  font-family: var(--dm-font-body);
  font-size: 0.9rem;
  text-align: right;
}
.image-text-100__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: var(--dm-space-element);
}
.image-text-100__title {
  margin: 0;
  color: var(--dm-color-steel);
  font-family: var(--dm-font-title);
  font-size: var(--dm-h2-size);
  line-height: var(--dm-h2-line);
  font-weight: 700;
}
.image-text-100__description {
  color: var(--dm-color-grey-text);
  font-family: var(--dm-font-body);
  font-size: var(--dm-body-size);
  font-weight: 400;
  line-height: var(--dm-body-line);
}
.image-text-100__cta-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
  margin-top: calc(var(--dm-space-element) - 10px);
}
.image-text-100__actions a {
  background-color: var(--dm-color-grey-light);
  color: var(--dm-color-steel);
}
.image-text-100__actions a:hover {
  background-color: var(--dm-color-red);
  color: var(--dm-color-white);
}
.image-text-100__actions a {
  line-height: normal;
  padding-block: 14px;
  display: inline-block;
  padding-inline: 16px;
  border-radius: 6px;
  font-family: var(--dm-font-body);
  font-size: 0.9375rem;
  font-weight: 500;
  text-decoration: none;
}
