.video-play {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  background: url("../../images/icons/video-play.svg") no-repeat center/contain;
  transform: translate(-50%, -50%);
}

:where(button:focus-visible) > .video-play {
  outline: 3px solid var(--dm-color-white);
  outline-offset: 4px;
}
