.accordion {
  max-width: calc(900px + 2 * var(--dm-gutter));
  margin-inline: auto;
  padding-block: var(--dm-space-block);
  padding-inline: var(--dm-gutter);
}
.accordion__title {
  color: var(--dm-color-steel);
  font-family: var(--dm-font-title);
  font-size: var(--dm-h2-size);
  line-height: var(--dm-h2-line);
  font-weight: 700;
}
.accordion__title:not(:last-child) {
  margin-bottom: var(--dm-space-element);
}
