.triptych-element {
  text-align: center;
}
.triptych-element__top {
  margin: 0 0 0.5rem;
  color: var(--dm-color-grey-text);
  font-family: var(--dm-font-body);
  font-size: var(--dm-body-size);
  line-height: var(--dm-body-line);
}
.triptych-element__main {
  margin: 0;
  color: var(--dm-color-anthracite);
  font-family: var(--dm-font-title);
  font-size: var(--dm-h1-size);
  line-height: var(--dm-h1-line);
}
.triptych-element__bottom {
  margin: 0.5rem 0 0;
  color: var(--dm-color-grey-text);
  font-family: var(--dm-font-body);
  font-size: var(--dm-body-size);
  line-height: var(--dm-body-line);
}
