.triptych-element {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-block: 29px;
  padding-inline: 30px;
  border-radius: 16px;
  background: var(--dm-color-white);
  text-align: left;
}
@media (width >= 992px) {
  .triptych-element {
    padding-block: 49px 48px;
    padding-inline: 50px;
  }
}
.triptych-element__top {
  margin-block: -12px -15px;
  color: var(--dm-color-grey-text);
  font-family: var(--dm-font-title);
  font-size: 0.875rem;
  line-height: 1.1875rem;
  font-weight: 700;
}
@media (width >= 992px) {
  .triptych-element__top {
    margin-block: -25px -15px;
    font-size: var(--dm-h3-size);
    line-height: var(--dm-h3-line);
  }
}
.triptych-element__main {
  margin: 0;
  color: var(--dm-color-steel);
  font-family: var(--dm-font-title);
  font-size: 2.25rem;
  line-height: 2.1875rem;
  font-weight: 900;
}
@media (width >= 992px) {
  .triptych-element__main {
    font-size: 3.75rem;
    line-height: 58px;
  }
}
.triptych-element__bottom {
  margin: 0;
  color: var(--dm-color-grey-text);
  font-family: var(--dm-font-title);
  font-size: 0.875rem;
  line-height: 1.1875rem;
  font-weight: 700;
}
@media (width >= 992px) {
  .triptych-element__bottom {
    font-size: var(--dm-h3-size);
    line-height: var(--dm-h3-line);
  }
}
