.product-characteristic-element {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.product-characteristic-element__title {
  margin: 0;
  color: var(--dm-color-grey-metal);
  font-family: var(--dm-font-body);
  font-size: var(--dm-body-size);
  line-height: var(--dm-body-line);
  font-weight: 400;
}
.product-characteristic-element__description {
  color: var(--dm-color-white);
  font-family: var(--dm-font-body);
  font-size: 18px;
  line-height: var(--dm-body-line);
}
.product-characteristic-element__description :is(p):first-child {
  margin-top: 0;
}
.product-characteristic-element__description :is(p):last-child {
  margin-bottom: 0;
}
