.faq-list {
  max-width: calc(900px + 2 * var(--dm-gutter));
  margin-inline: auto;
  -webkit-padding-after: var(--dm-space-page);
          padding-block-end: var(--dm-space-page);
  padding-inline: var(--dm-gutter);
}
